.App {
  text-align: center;
}

.top_nav {
  display: flex;
  border: 1px solid black; 
  background: lightblue;
  justify-content: space-evenly;
  font-size: 40px;
  text-decoration-line: none;
}

.joke_box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px;
  align-items: center;
}